.facet-name {
  font-weight: bold;
}

.loading-img {
  display: block;
  margin: auto;
}

table.norssi-table {
  font-size: 12px;
}

table.norssi-table tr:nth-child(even) {
  background-color: #f8f6f4;
}

.link:after {
  content:"\A";
  white-space: pre-wrap;
}

a.no-style {
  text-decoration: none;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.person-image-container .name-col {
  padding: 0px;
}

.person-image-container img {
  max-height: 150px;
}

.popover {
  max-width: 700px;
}
