<div class="container-fluid">
  <div class="row">
    <div class="col-xs-1 vcenter push-xs-1">
      <img src="http://www.norssit.fi/images/norssi_logo.jpg" class="norssi-logo center-block img img-responsive" />
    </div><!--
  --><div class="col-xs-9 vcenter push-xs-1">
      <h1>Vanhat Norssit</h1>
      <p>
      Norssimatrikkelihaku. Voit rajata tulosta tekemällä valintoja suodattimista ja selata henkilöihin liittyvää tietoa linkkien kautta.
      Lähde: <a href="http://www.norssit.fi/matrikkeli_1867-1992.html">Helsingin Norssin matrikkeli 1867-1992</a>
      </p>
    </div>
    <div class="col-md-2 pull-md-2">
      <div class="facets">
        <seco-text-facet data-options="vm.facets.entryText"></seco-text-facet>
        <seco-predicate-facet data-options="vm.facets.link"></seco-predicate-facet>
        <seco-basic-facet data-options="vm.facets.familyName"></seco-basic-facet>
        <seco-basic-facet data-options="vm.facets.birthPlace"></seco-basic-facet>
        <seco-basic-facet data-options="vm.facets.enrollmentYear"></seco-basic-facet>
        <seco-basic-facet data-options="vm.facets.matriculationYear"></seco-basic-facet>
        <seco-basic-facet data-options="vm.facets.hobby"></seco-basic-facet>
      </div>
    </div>
    <div class="col-md-10">
      <div ng-include="'views/norssit.persons.html'"></div>
    </div>
  </div>
</div>
