<div class="container-fluid">
  <div class="row">
    <div class="col-md-1 col-sm-2 col-xs-2 vcenter push-xs-2">
      <img src="http://www.norssit.fi/images/norssi_logo.jpg" class="norssi-logo center-block img img-responsive" />
    </div><!-- DO NOT REMOVE THIS COMMENT, IT IS A HACK
 --><div class="col-xs-9 col-md-8 col-lg-9 vcenter push-xs-9">
      <div ng-include="'views/norssit.description.partial.html'"></div>
    </div>
    <div class="col-md-3 pull-md-3 col-lg-2">
      <div ng-include="'views/norssit.facets.partial.html'"></div>
    </div>
    <div class="col-md-9 col-lg-10">
      <div ng-include="'views/norssit.list.partial.html'"></div>
    </div>
  </div>
</div>
