<ul class="nav navbar-nav">
  <li><a href="" id="show-help" ng-click="vm.showHelp()"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Ohje</a></li>
  <li ui-sref-active="active"><a ui-sref="cards"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Ruudukko</a></li>
  <li ui-sref-active="active"><a ui-sref="table"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> Lista</a></li>
  <li class="dropdown" ui-sref-active="{'active': 'visualizations.**'}">
  <a class="dropdown-toggle" data-toggle="dropdown" href="" id="statistics"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Tilastoja<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li ui-sref-active="active"><a ui-sref="visualizations.visu"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Tilastoja 1</a></li>
      <li ui-sref-active="active"><a ui-sref="visualizations.visu2"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Tilastoja 2</a></li>
    </ul>
  </li>
</ul>
